<div class="custom-lookup-field" :class="fieldCode">
  <div class="control-gaia" :class="{ 'control-required-gaia': required }">
    <h3 class="control-label-gaia" v-if="!noLabel">{{ label }}</h3>
    <div class="control-value-gaia">
      <div class="forms-lookup-gaia">
        <input type="text" class="forms-lookup-input-gaia" v-model="input" />
        <table class="forms-lookup-buttons">
          <tbody>
            <tr>
              <td><button class="forms-lookup-lookup-gaia" @click="openModal">取得</button></td>
              <td><button class="forms-lookup-clear-gaia" @click="onClear">クリア</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="control-constraints-gaia"></div>
    <div v-if="isLoading" class="control-errors-gaia">
      <div class="loader">Now Loading ...</div>
    </div>
  </div>
</div>
