td {
  padding-left: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.navigation-header-search {
  padding-left: 10px;
}
