<div class="lookup-field-modal" v-if="active">
  <div class="gaia-mobile-navigationcontroller gaia-mobile-ui-forms-lookupdialog" style="left: 0px; top: 0px;">
    <div class="navigation-view">
      <div class="navigation-contents">
        <div class="navigation-innerview">
          <div class="gaia-mobile-scrollablecontroller">
            <div class="gaia-mobile-app-lookuplist">
              <ul class="gaia-mobile-app-lookuplist-records">
                <li v-for="(record, index) in filterdRecords" class="gaia-mobile-app-lookuplist-record">
                  <div class="gaia-mobile-app-lookuplist-inner" @click="onClickItem(record)">
                    <ul class="gaia-mobile-app-lookuplist-fields">
                      <li v-for="label in labelItems(record)" class="gaia-mobile-app-lookuplist-field">
                        <div class="recordlist-cell-gaia recordlist-single_line_text-gaia">
                          <div class="line-cell-gaia"><span>{{ label }}</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="action-button-back">
          <img src="https://static.cybozu.com/k/kintone_19.2.1_4767/image/gaia/mobile/navigation_back_44_44@2x.png" />
        </div>
      </div>
      <div class="navigation-header">
        <table class="navigation-header-bar">
          <tbody>
            <tr>
              <td class="navigation-header-center">
                <div class="navigation-header-search">
                  <input type="text" class="forms-text-gaia" v-model="input" />
                </div>
              </td>
              <td class="navigation-header-right">
                <div class="gaia-mobile-ui-barbutton" @click="close">
                  <div class="gaia-mobile-ui-barbutton-contents button-normal-style">
                    <div class="button-bg"></div>
                    <div class="button-label">
                      <span class="gaia-mobile-ui-barbutton-title" style="display: none;"></span
                      ><img
                        class="gaia-mobile-ui-barbutton-icon"
                        src="https://static.cybozu.com/k/kintone_19.2.1_4767/image/gaia/mobile/bar_close_30_30@2x.png"
                      />
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="navigation-header-shadow"></div>
      </div>
      <div class="navigation-footer"></div>
    </div>
    <div class="android-hack"></div>
  </div>
</div>
